In [1]:
import os
os.chdir("..")
os.getcwd()

'd:\\ineuron\\Backorder_Prediction_Project\\Backorder_Prediction'

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv(r'D:\ineuron\Backorder_Prediction_Project\Backorder_Prediction\application\storage\data_ingestion\2022-11-26-00-13-43\raw_data\Kaggle_Test_Dataset_v2.csv')

C:\Users\kanan\AppData\Local\Temp\ipykernel_13416\974254290.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'D:\ineuron\Backorder_Prediction_Project\Backorder_Prediction\application\storage\data_ingestion\2022-11-26-00-13-43\raw_data\Kaggle_Test_Dataset_v2.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242076 entries, 0 to 242075
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   sku                242076 non-null  object
 1   national_inv       242075 non-null  float64
 2   lead_time          227351 non-null  float64
 3   in_transit_qty     242075 non-null  float64
 4   forecast_3_month   242075 non-null  float64
 5   forecast_6_month   242075 non-null  float64
 6   forecast_9_month   242075 non-null  float64
 7   sales_1_month      242075 non-null  float64
 8   sales_3_month      242075 non-null  float64
 9   sales_6_month      242075 non-null  float64
 10  sales_9_month      242075 non-null  float64
 11  min_bank           242075 non-null  float64
 12  potential_issue    242075 non-null  object
 13  pieces_past_due    242075 non-null  float64
 14  perf_6_month_avg   242075 non-null  float64
 15  perf_12_month_avg  242075 non-null  float64
 16  local_bo_qty       242075 non-null  float64
 17  deck_risk          242075 non-null  object
 18  oe_constraint      242075 non-null  object
 19  ppap_risk          242075 non-null  object
 20  stop_auto_buy      242075 non-null  object
 21  rev_stop           242075 non-null  object
 22  went_on_backorder  242075 non-null  object
dtypes: float64(15), object(8)
memory usage: 42.5+ MB

In [2]:
from application.entity.backorder_predictor import BackOrderPredictor
from application.util.utililty import load_object
from application.entity.backorder_predictor import BackOrderPredictor, BackorderData

In [15]:
#preprocessing
pp = r'D:\ineuron\Backorder_Prediction_Project\Backorder_Prediction\application\storage\data_transformation\2022-11-26-00-13-43\preprocessed\preprocessed.pkl'
pp_obj = load_object(pp)
trans  = pp_obj.transform(df)

In [16]:
trans_df = pd.DataFrame(trans)

In [18]:
df.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,3285085,62.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
1,3285131,9.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,Yes,No,No,No
2,3285358,17.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.92,0.95,0.0,No,No,No,Yes,No,No
3,3285517,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.78,0.75,0.0,No,No,Yes,Yes,No,No
4,3285608,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.54,0.71,0.0,No,No,No,Yes,No,No

In [19]:
trans_df.head()

,0,1,2,3,4,5,6,7,8
0,-0.114681,4.570968,-0.829691,-0.514979,-0.267259,0.706755,2.222705,-3.928464,0.050086
1,-0.099635,8.246670,0.047125,0.618143,-0.119121,0.703597,-5.252740,-0.800765,-0.033708
2,-0.091791,-0.806024,-0.453686,0.131639,-0.012377,0.311050,-0.203763,0.034871,-0.076061
3,-0.093149,-0.066236,2.333996,0.072186,0.057280,-2.129695,-1.771844,-0.540050,-0.120280
4,-0.092960,-0.794600,-0.456735,0.131847,-0.012742,0.314597,-0.204860,0.020233,-0.075513

In [26]:
input_val = [[12,2,0,0,0,0,0,0,0,0,0,"No",0.92,0.95,0,0,"No","No","No","Yes","No"]]
col = df.columns
input_val_df= pd.DataFrame(input_val,columns=col[1:-1])

In [27]:
input_val_df

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,12,2,0,0,0,0,0,0,0,0,...,No,0.92,0.95,0,0,No,No,No,Yes,No

In [28]:
input_trans = pp_obj.transform(input_val_df)

In [29]:
input_trans

array([[-0.08947549, -0.9114912 , -0.39925597,  0.10951639,  0.00209555,
         0.2450629 , -0.09457142, -0.20608919, -0.1073947 ]])

In [33]:
pred = BackOrderPredictor(model_dir=r'D:\ineuron\Backorder_Prediction_Project\Backorder_Prediction\saved_models')
result = pred.predict(X=input_val_df)

In [34]:
result

array([1.])

In [3]:
backorder_data = BackorderData(
                    national_inv=12,
                    lead_time=2,
                    in_transit_qty=0,
                    forecast_3_m=0,
                    forecast_6_m=0,
                    forecast_9_m=0,
                    sales_1_m=0,
                    sales_3_m=0,
                    sales_6_m=0,
                    sales_9_m=0,
                    min_bank=0,
                    pieces_past_due=0,
                    Perf_6_Month_Avg=0.92,
                    Perf_12_Month_Avg=0.95,
                    Local_Bo_Qty=0,
                    Potential_Issue="No",
                    Deck_Risk="No",
                    OE_Constraint="No",
                    PPAP_Risk="No",
                    Stop_Auto_Buy="Yes",
                    Rev_Stop="No",
                                   )

In [4]:
df = backorder_data.get_backorder_input_data_frame()
df.drop(['went_on_backorder'],axis=1,inplace=True)

In [5]:
df

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,12,2,0,0,0,0,0,0,0,0,...,0,0.92,0.95,0,No,No,No,No,Yes,No

In [39]:
input_val_df

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,12,2,0,0,0,0,0,0,0,0,...,No,0.92,0.95,0,0,No,No,No,Yes,No

In [6]:
pred = BackOrderPredictor(model_dir=r'D:\ineuron\Backorder_Prediction_Project\Backorder_Prediction\saved_models')
result = pred.predict(X=df)
result

array([0.])

In [48]:
for i in backorder_data:
    print(i)

TypeError: 'BackorderData' object is not iterable